.container {
    display: grid;
    grid-template-columns: 15% auto auto 15%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "sidebarL header header sidebarR"
        "sidebarL main main sidebarR"
        "sidebarL footer footer sidebarR";
}

main {
    grid-area: main;
}
#barR {
    grid-area: sidebarR;
}
#barL {
    grid-area: sidebarL;
}
header {
    grid-area: header;
}
footer {
    grid-area: footer;
}

/* Alter CSS */

body {
    background-image: url(./IMG/paper.jpg);
    background-size: cover;
}

#headingPrice {
    float: right;
    font-size: 10px;
    margin-right: 0px;
}

#headingText {
    font-family: 'Montserrat', sans-serif;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 120px;
    text-align: center;
}

#headingSub {
    position: relative;
    top: -10px;
    text-align: center;
    font-size: 17px;
}

#line {
    height: 2px;
    background-color: rgb(53, 53, 53);
}

#countYear {
    padding-right: 10px;
    float: right;
}

#countNr {
    padding-left: 10px;
    padding-bottom: 10px;
}

/* Content Block */

.content {
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    text-align: justify;
}

#startText {
    width: 100px;
    float: left;
    padding: 0 20px
}

#midText {
    width: 250px;
    float: right;
    padding-left: 10px;
}
