body {
    background-image: url(./IMG/paper.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

#uberDiv {
    max-width: 980px;
}

#headingPrice {
    float: right;
    font-size: 10px;
    margin-right: 0px;
}

/* Header */

#headerParent {
    display: flex;
    justify-content: center;
}

#headingText {
    font-family: 'Montserrat', sans-serif;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 120px;
    text-align: center;
}

#headingSub {
    text-align: center;
    padding: 0 0 0 0;
    font-size: 17px;
}

#line {
    height: 2px;
    width: 970px;
    background-color: rgb(53, 53, 53);
}

#countYear {
    padding-right: 10px;
    float: right;
}

#countNr {
    padding-left: 10px;
    padding-bottom: 10px;
}

/* Content Block */

.parentDiv {
    display: flex;
    justify-content: center;
}

.floating {
    border: 2px solid rgb(0, 0, 0);
    width: 930px;
    text-align: justify;
    padding: 20px;
}

#startText {
    width: 100px;
    float: left;
    padding: 0 20px
}

#midText {
    width: 250px;
    float: inline-end;
    padding-left: 10px;
}